<DOCTYPE HTML>
  <html>
    <head>
        <meta charset="utf-8">
        <title>Some webPage</title>
    </head>
    <body>
      {{>header}}
      <p>{{screamIt welcomeMessage}}</p>
      <h1>
      <p>Cover your face with tissue papers and take a selfie fo that</p>
      <h1>
      {{>footer}} 
    </body>
  </html>
