<DOCTYPE HTML>
  <html>
    <head>
        <meta charset="utf-8">
        <title>Some webPage</title>
    </head>
    <body>
      {{>header}}
      <p>{{screamIt welcomeMessage}}</p>
      <h1>
      <p>Cover your face with tissue papers with three diffrent style take a Selfie of these, put one photo on whatsapp status with no privacy, second in FGS Family and Third send to your Christmas Mom whom you think, All photo should have a tag #MerryChristmas </p>
      <h1> 
    </body>
  </html>
